header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.8rem;
}

h1 {
  font-size: 3.4rem;
  line-height: 4.8rem;

  span {
    color: var(--color-orange);
    text-transform: capitalize;
  }
}
 
nav {
  ul {
    display: flex;
    gap: 2.4rem;
    list-style: none;
  }

  a {
    color: var(--color-blue);
    text-decoration: none;
    transition: all 0.3s linear;
    
    &.active,
    &:hover {
      text-decoration: underline; 
      text-decoration-thickness: 4px;
      text-underline-offset: 4px;
    }

    &:hover {
      text-decoration-color: var(--color-green);
    }

    &.active {
      text-decoration-color: var(--color-orange);
    }
  }
}
